'.platform-darwin':
  'ctrl-p': 'fathom-finder:toggle-file-finder'
  'cmd-p': 'fathom-finder:toggle-file-finder'

'.platform-win32':
  'ctrl-p': 'fathom-finder:toggle-file-finder'

'.platform-linux':
  'ctrl-p': 'fathom-finder:toggle-file-finder'

'.fathom-finder atom-text-editor[mini]':
  'shift-enter': 'fathom-finder:invert-confirm'
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
